.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .name {
    font-weight: bold;
    font-size: 15pt;
  }

  svg {
    position: absolute;
    right: 15px;
  }
}
