<div class="blurIfNoUser" *ngIf="!mainAccount">
  <div class="blurInfotext">
    Please enter account information for your main account in "User" -> "Settings"
  </div>
</div>

<div>

  <div class="grid">
    <app-race-selector (click)="showRaceSelectorPanel()"></app-race-selector>
    <app-sidebar></app-sidebar>

    @if (mainAccount) {
      <app-diagram></app-diagram>
    }
  </div>

  <app-race-selector-panel *ngIf="_showRaceSelectorPanel" (closePanelEvent)="showRaceSelectorPanel()"></app-race-selector-panel>

</div>
