$grid-box-bg: #12171C;
$grid-box-text: #C7CBD0;
$grid-box-border: rgba(105, 114, 125, 0.31);
$race-selector-text: #C7CBD0;
$border-radius: 6px;

.grid {
  margin: 20px;
  display: grid;
  grid-template-areas:
                    "race       diagram"
                    "sidebar    diagram";
  grid-template-rows: 50px 79vh;
  grid-template-columns: 1fr 4.5fr;
  gap: 20px;
  user-select: none;
}

app-race-selector, app-sidebar, app-diagram {
  border-style: solid;
  border-color: $grid-box-border;
  border-width: 1px;
  color: $grid-box-text;
  border-radius: $border-radius;
  overflow: hidden;
}

app-race-selector {
  grid-area: race;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    background-color: #212933;
    border-color: rgba(130, 139, 150, 0.64);
  }
}

app-sidebar {
  grid-area: sidebar;
}

app-diagram {
  grid-area: diagram;
}

.blurIfNoUser {
  backdrop-filter: blur(10px);
  width: 100%;
  height: calc(100vh - 73px);
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  .blurInfotext {
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
}
