$race-selector-text: #C7CBD0;
$grid-box-bg: #212b33;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .grid {
    display: grid;
    grid-template-areas:
      "header"
      "options";
    grid-template-rows: max-content;

    .header {
      display: flex;
      grid-area: header;
      flex-direction: column;
      color: $race-selector-text;
      background: $grid-box-bg;
      overflow: auto;
      border-bottom: rgba(105, 114, 125, 0.31);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      text-align: center;

      .subsession-info {
        margin-top: 5px;
        min-height: 155px;
      }

      .subsession-wrapper {
        display: flex;
        margin: 20px;

        .subsession {
          display: grid;
          grid-template-areas:
            "time     time    time     sof     sof"
            "series   series  series  series  series"
            "track    track   track   track   track"
            "start    finish  finish  finish  finish";

          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          font-size: 10pt;
          gap: 10px 0;


          // wrapper for each element
          span {
            display: flex;
            align-items: center;

            svg {
            }

            // text
            span {
              margin-left: 5px;
            }
          }

          .time {
            grid-area: time;

          }

          .series {
            grid-area: series;

          }

          .track {
            grid-area: track;
          }

          .sof {
            grid-area: sof;
            margin-left: 10px;
          }

          .start {
            grid-area: start;
          }

          .finish {
            grid-area: finish;
            margin-left: 10px;

            span {
              margin-left: 2px;
            }

          }
        }
      }
    }

    .options {
      display: flex;
      grid-area: options;
      flex-direction: column;
      align-items: center;

      .mode {
        position: relative;
        display: flex;
        border-style: solid;
        border-radius: 6px;
        border-color: rgba(89, 95, 102, 0.64);
        border-width: 1px;
        width: 300px;
        height: 40px;
        margin-top: 15px;
        align-items: center;
        justify-content: center;

        .text {
          font-weight: bold;
          font-size: 13pt;
        }

        svg {
          position: absolute;
          right: 15px;
        }

        &:hover {
          background: #212933;
          transition: 0.1s;
          cursor: pointer;
        }
      }

      .select {
        font-weight: normal;
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        box-sizing: border-box;
        z-index: 10;
        width: 300px;
        height: 130px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(89, 95, 102, 0.64);
        border-radius: 6px;
        background: #212933;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        top: 45px;

        .option {
          padding-left: 10px;
          display: flex;
          align-items: center;
          flex-basis: calc(100% / 3);
          color: #B5BFCA;
          text-decoration: none;

          &:hover {
            background: #32414d;
          }
        }
      }

    }

    .options-wrapper {
      width: 310px;
      margin-top: 15px;
      display: grid;
      grid-template-areas: "column1";

      .column1 {
        grid-area: column1;

        .cbContainer {
          margin-top: 4px;
          padding-top: 4px;
          padding-bottom: 5px;
          padding-left: 5px;
          display: flex;
          font-size: 11pt;

          &:hover {
            background: #212b33;
            border-radius: 4px;
          }

          &:hover input ~ .checkmark {
            border-color: #2196f3;
          }

          input:checked ~ .checkmark {
            background-color: #2196F3;
            border-color: #14568c;
          }

          input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          .checkmark {
            top: 0;
            left: 0;
            height: 16px;
            width: 16px;
            background-color: rgba(0, 0, 0, 0);
            margin-right: 5px;
            border-radius: 3px;
            border: 2px solid rgba(105, 114, 125, 0.6);
            box-sizing: border-box;
          }
        }
      }
    }
  }

  .footer {
    background: #0e4580;

    .diasettings-button {

      .text {
      }

      svg {
      }
    }
  }
}














