<div class="main_wrapper">

  <div class="settings">
    <h1>Settings</h1>
  </div>

  <div class="main">

    <div class="content">

      <div class="grid">

        <div class="mainAcc">

          <div class="info">
            <h2>Main account</h2><br>
            <span>Add your own account by entering your iRacing member ID. You can find your iRacing ID on the top of your iRacing account page. This ID will be used to highlight yourself in the diagrams</span>
          </div>

          <div class="card-frame">

            <button class="buttonNew" *ngIf="_showAddButton_main" (click)="toggleAccountAdder_main()">Add new account...</button>

            <div class="card-new-wrapper" *ngIf="_showItemCreator_main">
              <div class="card-new">
                <button class="x" (click)="abortCreation_main()">X</button>
                <input #custid type="text" class="custid-edit" placeholder="Customer ID...">
                <div class="wrapper">
                  <button type="button" class="buttonSaveEdit" (click)="addAccount_main(custid.value.valueOf())">Save</button>
                  <span class="error" *ngIf="_validationError_main">{{error_text}}</span>
                </div>
              </div>
            </div>

            <div class="card-list-wrapper" *ngIf="mainAccount !== undefined" >
              <div class="card">
                <button class="x" (click)="deleteItem_main()">x</button>
                <div class="name">{{mainAccount!.name}}</div>
                <div class="custId">{{mainAccount!.custId}}</div>
              </div>

            </div>

          </div>

        </div>

        <div class="otherAcc">

          <div class="info">
            <h2>Other accounts</h2><br>
            <span>Add the account of your friends or of your team by entering your iRacing member ID. Their iRacing ID can be found in the URL when you visit their name-page. The ID will be used to highlight these accounts in the diagrams</span>
          </div>

          <div class="card-frame">

            <button class="buttonNew" *ngIf="_showAddButton_other" (click)="toggleAccountAdder_other()">Add new account...</button>

            <div class="card-new-wrapper" *ngIf="_showItemCreator_other">
              <div class="card-new">
                <button class="x" (click)="abortCreation_other()">X</button>
                <input #custid type="text" class="custid-edit" placeholder="Customer ID...">
                <div class="wrapper">
                  <button type="button" class="buttonSaveEdit" (click)="addAccount_other(custid.value.valueOf())">Save</button>
                  <span class="error" *ngIf="_validationError_other">{{error_text}}</span>
                </div>
              </div>
            </div>

            <div class="card-list-wrapper" *ngIf="otherAccounts.length > 0" >
              <div class="card" *ngFor="let acc of otherAccounts">
                <button class="x" (click)="deleteItem_other(acc)">x</button>
                <div class="name">{{acc.name}}</div>
                <div class="custId">{{acc.custId}}</div>
              </div>

            </div>

          </div>

        </div>

      </div>


    </div>

  </div>
</div>





