$card-bg: #e6e6e6;
$card-bg-hover: #ffffff;


.main_wrapper {
  display: flex;
  color: #FFFFFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .settings {
    width: 60%;
    height: 200px;
    background: #143a66;

    h1 {
      margin: 5px 0 0 15px

    }

  }

  .main {
    width: 60%;
    height: calc(100vh - 273px);
    background: #12171C;

    .content {
      padding: 15px;
      height: max-content;

      .grid {
        display: grid;
        grid-template: "mainAcc otherAcc";
        grid-template-columns: 1fr 1fr;

        .mainAcc {
          position: relative;
          grid-area: mainAcc;
          background: #1f2833;

          .info {
            margin: 0 10px 0 10px;
            min-height: 140px;

            h2 {
              margin: 0;
            }

          }

          .card-frame {
            display: flex;
            width: 100%;
            justify-content: center;

            .buttonNew {
              margin: 25px;
              width: 90%;
              font-size: 15pt;
              height: 50px;
              background: $card-bg;
              border-radius: 10px;
              border-style: none;
              transition: 0.1s;

              &:hover {
                background: $card-bg-hover;
                cursor: pointer;
              }
            }

            .card-new-wrapper {
              width: 100%;

              .card-new {
                position: relative;
                margin: 25px;
                width: 90%;
                display: flex;
                background: $card-bg;
                border-radius: 10px;
                flex-direction: column;
                overflow: hidden;

                .x {
                  position: absolute;
                  right: 0;
                  top: 0;
                }

                .custid-edit {
                  margin: 10px 10px 0 10px;
                  font-size: 14pt;
                  font-weight: bold;
                  border: none;
                }

                .wrapper{
                  height: max-content;

                  .buttonSaveEdit {
                    margin: 10px;
                    font-size: 11pt;
                    background: $card-bg;
                    border-radius: 5px;
                    border: none;
                    height: 30px;
                    width: 70px;
                    cursor: pointer;
                    transition: 0.1s;

                      &:hover {
                        background: $card-bg-hover;
                      }
                    }

                  .error {
                    margin-left: 15px;
                    color: #ff3434;
                  }
                }
              }
            }

            .card-list-wrapper {
              width: 100%;

              .card {
                position: relative;
                width: 90%;
                margin: 25px;
                height: max-content;
                background: $card-bg;
                border-radius: 10px;
                overflow: hidden;
                transition: 0.1s;

                .x {
                  position: absolute;
                  right: 0;
                  top: 0;
                }

                .name {
                  min-height: 25px;
                  color: #000000;
                  margin: 10px;
                  font-size: 14pt;
                  font-weight: bold;
                }

                .custId {
                  color: #000000;
                  margin: 10px;
                }

                &:hover {
                  cursor: pointer;
                  background: $card-bg-hover;
                }
              }
            }

          }
        }

        .otherAcc {
          grid-area: otherAcc;
          background: #1f2834;
          height: max-content;

          .info {
            margin: 0 10px 0 10px;
            min-height: 140px;

            h2 {
              margin: 0;
            }
          }

          .card-frame {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-direction: column;

            .buttonNew {
              margin: 25px;
              width: 90%;
              font-size: 15pt;
              height: 50px;
              background: $card-bg;
              border-radius: 10px;
              border-style: none;
              transition: 0.1s;

              &:hover {
                background: $card-bg-hover;
                cursor: pointer;
              }
            }

            .card-new-wrapper {
              width: 100%;

              .card-new {
                position: relative;
                margin: 25px;
                width: 90%;
                display: flex;
                background: $card-bg;
                border-radius: 10px;
                flex-direction: column;
                overflow: hidden;

                .x {
                  position: absolute;
                  right: 0;
                  top: 0;
                }

                .custid-edit {
                  margin: 10px 10px 0 10px;
                  font-size: 14pt;
                  font-weight: bold;
                  border: none;
                }

                .wrapper{
                  height: max-content;

                  .buttonSaveEdit {
                    margin: 10px;
                    font-size: 11pt;
                    background: $card-bg;
                    border-radius: 5px;
                    border: none;
                    height: 30px;
                    width: 70px;
                    cursor: pointer;
                    transition: 0.1s;

                    &:hover {
                      background: $card-bg-hover;
                    }
                  }

                  .error {
                    margin-left: 15px;
                    color: #ff3434;
                  }
                }
              }
            }

            .card-list-wrapper {
              width: 100%;

              .card {
                position: relative;
                width: 90%;
                margin: 25px;
                height: max-content;
                background: $card-bg;
                border-radius: 10px;
                overflow: hidden;
                transition: 0.1s;

                .x {
                  position: absolute;
                  right: 0;
                  top: 0;
                }

                .name {
                  min-height: 25px;
                  color: #000000;
                  margin: 10px;
                  font-size: 14pt;
                  font-weight: bold;
                }

                .custId {
                  color: #000000;
                  margin: 10px;
                }

                &:hover {
                  cursor: pointer;
                  background: $card-bg-hover;
                }
              }
            }

          }

        }
      }

    }

  }

}




