<div class="main_wrapper">

  <div class="myaccount">
    <h1>Settings</h1>
  </div>

  <div class="main">

    <div class="content">

      <div class="grid">

        <div class="mainAcc">

          <div class="card-frame">

            <button class="buttonNew" *ngIf="_showAddButton" (click)="toggleAccountAdder_main()">Add new account...</button>

            <div class="card-new-wrapper" *ngIf="_showItemCreator">
              <div class="card-new">
                <button class="x" (click)="abortCreation()">X</button>
                <input #custid type="text" class="custid-edit" placeholder="Customer ID...">
                <div class="wrapper">
                  <button type="button" class="buttonSaveEdit" (click)="addAccount(custid.value.valueOf())">Save</button>
                  <span class="error" *ngIf="validationError">{{error_text}}</span>
                </div>
              </div>
            </div>

            <div class="card-list-wrapper" *ngIf="mainAccount.length > 0" >
              <div class="card" *ngFor="let acc of mainAccount">
                <button class="x" (click)="deleteItem(acc)">x</button>
                <div class="name">{{acc.name}}</div>
                <div class="custId">{{acc.custId}}</div>
              </div>

            </div>

          </div>

        </div>

        <div class="otherAcc"></div>

      </div>


    </div>

  </div>
</div>

<div class="modal_wrapper">
  <div *ngIf="show" class="modal_addAccount">
    <div class="header"><h3>Add iRacing Account</h3></div>
      <div class="modal_inner_wrapper">
        <div class="desc"><p>Enter the iRacing ID of the user you want to add.<br><br>
          You can find your <b>own</b> ID on the top of the <a href="https://members.iracing.com/membersite/account/Home.do">My Account</a> page on iRacing's website.<br>
          The iRacing ID of <b>other users</b> can be found in the URL when you visit their profile-page.</p></div>
        <input type="text">
      </div>

      <div class="footer">
      </div>

  </div>
</div>





