<div class="wrapper">
  <svg class="svgTime" #svgTime></svg>
  <canvas class="canvasAxis" #canvasAxis (mousemove)="mouseMove($event)"></canvas>
  <canvas class="canvas" #canvas (mousemove)="mouseMove($event)"></canvas>
  <div class="labelDetail" #labelDetail *ngIf="_showLabelDetail">
    <div class="LabelDetail_time" #labelDetailTime>{{labelDetailTime_content}}</div>
    <div class="labelDetail_lap" #labelDetailLap *ngIf="_showLabelDetail_lapNr">
      <div class="labelDetail_lap_content">{{labelDetailLap_content}}</div>
    </div>
  </div>

  <div class="label_zoom">{{label_scale}}x</div>
  <svg class="svgName" #svgName></svg>
</div>

